.banner img{
    height:80px;
    width: 80px;
}
.centered1 {
    position: absolute;
    top: 32%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: gray;
    font-weight: 700;
    font-size: 2rem;
  }
  .centered2 {
    position: absolute;
    bottom: 32%;
    left: 12%;
    transform: translate(-50%, 50%);
    color: gray;
    font-weight: 700;
    font-size: 2rem;
  }
  
  .logo-container {
    background: -webkit-linear-gradient(#603813, #b29f94);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


.btn-book {background-image: linear-gradient(to right, #556270 0%, #FF6B6B  51%, #556270  100%)}
.btn-book {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: rgb(0, 0, 0) !important;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   font-size: 18px;
 }

 .btn-book:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff !important;
   text-decoration: none;
 }
